.navbar{
    background:rgb(30,30,30) ;
height: 5rem;
width: 100vw;
max-width: 75rem;
margin: 0 auto;
padding: 1rem 2rem;
display: flex;
align-items: center;
justify-content: space-between;
position: fixed;
top:0;
z-index: 999;


}
p{
    font-size: 1.5rem;
    font-weight: 600;
}
.menu ul{
    list-style: none;
    display: inline-flex;
    font-size: 1.2rem;
   
}
.menu ul li{
 padding-right: 1.5rem;
 cursor: pointer;
}
.menu ul li a:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.btn{
     height: 2.3rem;
     width: auto;
     border: none;
     border-radius: 0.7rem;
    background-color: aliceblue;
    cursor: pointer;
    padding: 6px;
}
.navMenu{
    position: absolute;
    top: 4rem;
    right: 0.7rem;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    background: rgb(40,40,40);
    
}

.navMenu ul li a{
    text-decoration: none;
    color: white;
    
}
.navMenu ul li a:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    
}
.cv{
    text-decoration: none;
    color: black;
}
.navMenu ul li {
    list-style: none;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    margin: 0.5rem;
    background: rgb(30,30,30);
    
}
.mobMenu{
    object-fit: cover;
    height: 2.3rem;
    width: 3rem;
    display: none;
    
}
@media screen and (max-width:743px) {
    .mobMenu{
        display: flex;

    }
    .menu{
        display: none;
    }
    .btn{
        display: none;
    }
}

